<div class="h-custom-screen w-full">
    <div class="d-flex h-100 justify-content-center">
        <div class="row">
            <div class="col-6">
                <img src="../../../../assets/logo.png" class="w-50 h-100" alt="imagenlogin">
            </div>
            <div class="col-6">
                <form autocomplete="off" [formGroup]="loginFormGroup" (ngSubmit)="leerDatos()">
                    <div class="d-flex flex-colum justify-content-center gap-4">
                        <h1 class="text-white text-start">Ingresar</h1>

                        <div class="d-flex flex-colum gap-2">

                            <input formControlName="email" class="text-white background-custom" autocomplete="off" type="email"
                                placeholder="Email">
                            <input formControlName="password" class="text-white background-custom" autocomplete="off" type="password"
                                placeholder="Contraseña">
                        </div>

                        <div class="text-white">No tienes una cuenta? <span class="text-link-register"><a
                                    class="link-register" href="#">Registrar</a></span></div>
                        <button [disabled]="loginFormGroup.invalid" type="button" class="text-withe btn-custom btn-primary">
                            Ingresar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>