<div class="dossection">
    <div class="form">
        <img class="hombresito" src="../../../../assets/logo.png" alt="">
    </div>
    <div class="form">
        <div class="segundo">
            <h1 class="titleingresar">Ingresar</h1>
            <div class="form">
                <div class="segundo">
                    <input type="email" placeholder="Email"><br>
                    <input type="password" placeholder="Contraseña">
                </div>
            </div>
            <div>
                <span> No tienes una cuenta?</span> <span class="text-link-register">Registrar</span>
            </div>
            <button type="button" class="btn-custom btn-primary">
                Ingresar
            </button>
        </div>
    </div>
</div>