<header>
  <!--logo-->
  <div class="logo"></div>
  <!--botones-->
  <div class="botones-header">
      <div class="botones-headerli"></div>
      <div class="botones-headerli"></div>
      <div class="botones-headerli"></div>
      <div class="botones-headerli"></div>
  </div>
</header>
<!--Titulo y barra de busqueda-->
<section class="titulo">
  <div class="h1titulo"></div>
  <div class="h4subtitulo"></div> 
  <div class="barradebusqueda"></div>
</section>
<!--simulacion de boton de "Todos, Peliculas, series"-->
<section class="botonslider">
  <div class="botonslider2"></div>
  <div class="h2slider"></div>
</section>
<!--simulacion de tarjetas que contienen las peliculas-->
<section class="card-body">
  <div class="card4">
      <div class="cards"></div>
      <div class="cards"></div>
      <div class="cards"></div>
      <div class="cards"></div>
  </div>
  <div class="card4">
      <div class="cards"></div>
      <div class="cards"></div>
      <div class="cards"></div>
      <div class="cards"></div>
  </div>
</section>